.report {
    background: linear-gradient(rgba(0,0,0,.8),rgba(237,67,67,.7)),
    url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/69304e47547633.587dfb2e455e3.jpg') no-repeat center top;
    background-size: cover, cover;
    text-align: center;
    color: white;
    height: 100vh;   
    font-size: 1rem;
    padding: 20px;
    h1 {
        font-size: 2.2rem;
        color: white;
        margin-bottom: 0;
    }
    p { 
        font-size: 1.1rem;
        line-height: .7rem;
        margin-top: 0; 
    }
    fieldset {
        border: 0;
    }
    select {
        border: 0;
        border-bottom: 1px solid gray;
        background-color: rgba(0,0,0,.2);
        width: 100%;
        color: white;
        font-size: 20px;
    }
    textarea {
        width: 100%;
        height: 200px;
        background-color: rgba(237,67,67,.2);
        color: white;
        font-size: 1rem;
        font-weight: 100;

    }
    textarea::placeholder {
        color: white;
        font-size: 1rem;
    }
    button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 2.2rem;
        font-weight: 100;
    }
    .submitting {
    transition: all linear 0.5s;
    background: transparent;
    }
    .submitting .ng-invalid {
        animation: error .5s infinite;
        @keyframes error {
        0% { box-shadow: 0px 0px 0px 0px darkred; }
        100% { box-shadow: 0px 0px 0px 10px darkred; }
        }
    }
}