@import '../../themes';

.report {
    @include page-template;
    @include form-template;
    h1 {
        margin-bottom: .5rem;
    }
    p { 
        letter-spacing: 1.5px;
        margin-bottom: 1rem;
    }
    select {
        @include form-elements-style;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    textarea {
        @include form-elements-style;
        height: 200px;
    }
    input::placeholder, textarea::placeholder {
        color: white;
    }
    input:hover, input:active, select:hover, select:active, textarea:hover, textarea:active, button:hover, button:active {
        background-color: rgba(0,0,0,.2);
    }
    input:focus, select:focus, button:focus, textarea:focus,  {
        outline: black;
        box-shadow: 2px 3px 3px black;
    }
    button {
        @include form-elements-style;
        font-weight: 300;
        letter-spacing: 2px;
        min-height: 50px;
    }
    @include error-animation;
}