@import '../../themes';

.encounters {
    @include page-template;
    div.container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 65%;
        max-width: 500px;
        margin: 0 auto;
    }
    h1 {
        margin-bottom: .5rem;
    }
    span { 
        letter-spacing: 1.5px;
        margin-bottom: 2rem;
    }
    ul {
        max-height: 230px;
        overflow: auto;
        list-style: none;
        text-align: left;
        line-height: 1.5rem;
        background-color: rgba(0,0,0,.2);
        border: 1rem solid rgba(0,0,0,.01);
    }
    li {
        margin: .5rem 0;
        :first-child {
            margin-top: 0;
        }
        :last-child {
            margin-bottom: 0;
        }
    }
    button {
        @include form-elements-style;
        font-weight: 300;
        letter-spacing: 2px;
        min-height: 50px;
    }
    button:hover, button:active {
        background-color: rgba(0,0,0,.2);
    }
}