@import '../../themes';

.register {
    @include page-template;
    @include form-template;
    input {
        @include form-elements-style;
    }
    select {
        @include form-elements-style;
        border-radius: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    input::placeholder {
        color: white;
    }
    input:hover, input:active, select:hover, select:active, button:hover, button:active {
        background-color: rgba(0,0,0,.2);
    }
    input:focus, select:focus, button:focus {
        outline: black;
        box-shadow: 2px 3px 3px black;
    }
    button {
        @include form-elements-style;
        font-weight: 300;
        letter-spacing: 2px;
        min-height: 50px;
    }
    @include error-animation;
}
