@import '../../themes';

.register {
    @include page-template;
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 65%;
        max-width: 500px;
        margin: 0 auto;
    }
    fieldset {
        border: none;
    }
    input {
        background-color: transparent;
        border: 1px solid darkgray;
        width: 100%;
        color: white;
        font-size: 1rem;
        font-weight: 100;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        padding: 1rem;
        margin: 1rem 0;
    }
    select {
        background-color: transparent;
        border: 1px solid darkgray;
        border-radius: 0;
        width: 100%;
        color: white;
        font-size: 1rem;
        font-weight: 100;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        padding: 1rem;
        margin: 1rem 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    input::placeholder {
        color: white;
    }
    input:hover, input:active, select:hover, select:active {
        background-color: rgba(0,0,0,.2);
    }
    input:focus, select:focus {
        outline: black;
        box-shadow: 2px 3px 3px black;
    }
    button {
        font-size: 1rem;
        letter-spacing: 2px;
        font-weight: 300;
        color: white;
        background-color: transparent;
        padding: 1rem;
        border: 1px solid darkgray;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        min-height: 50px;
        margin: 1rem 0;
    }
    button:hover {
        background-color: rgba(0,0,0,.2);
    }
    @include error-animation;
}
